APP_NAME=emr-service
ENVIRONMENT=dev
DEBUG=false
POSTGRES_DB=emr
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/emr
JWT_SECRET_KEY=0123456789abcdef0123456789abcdef
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
LOG_LEVEL=INFO
LOG_FILE_PATH=/var/log/emr/app.log
ADMIN_LOGIN=admin
ADMIN_PASSWORD=AdminPass123
ADMIN_FULL_NAME=System Administrator
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_ROOT_URL=https://my-emr.duckdns.org/grafana/
DUCKDNS_DOMAIN=my-emr
DUCKDNS_TOKEN=
